#map {
  height: 600px;
  width: 100%;
  background-color: #333333;
  position: fixed;
  /*border: 2px solid black;*/
}
body {
  margin: 0px;
  background-color: #333333;
}
#sidenav-overlay, #drag-target {
  display: none;
}
#slide-out {
  overflow: visible;
}
.toggle-button-container {
  position: absolute;
  top: 8px;
  left: 100%;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}
a.toggle-button {
  padding: 0 6px;
  cursor: pointer;
}
